!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "width=device-width", name: "viewport"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Offerchat
    %link{href: "https://s3.amazonaws.com/offerchat-emails/email.css", rel: "stylesheet", type: "text/css"}/
  %body{bgcolor: "#FFFFFF"}
    %table.head-wrap
      %tr
        %td
        %td.header
          .content
            %table
              %tr
                %td{align: "center"}
                  %a.logo{href: "https://www.offerchat.com"}
                    %img{alt: "Offerchat logo", src: "https://s3.amazonaws.com/offerchat-emails/logo.png"}/
        %td
    %table.body-wrap
      %tr
        %td
        %td.container{bgcolor: "#FFFFFF"}
          .content
            %table
              %tr
                %td
                  %h3 Welcome to Offerchat #{@user.first_name},
                  %h4.lead You have successfully signed up for Offerchat. We'd like to help you get started, so we've prepared an easy outline of what to do next.
                  %p
                    1. Add the chat widget to your website by inserting the code snippet before your site's </head> tag.
                    %a{ :href => "#{root_url}widget_codes/#{@website.id}", :target => "_blank" } Get Your Widget Code Here
                  %p
                    2. Login to the Offerchat dashboard at
                    %a{ :href => "#{root_url}login" } https://app.offerchat.com/login
                  %p
                    3. Start chatting!
                  %p
                    That's it! If you have any questions or concerns, feel free to email us at support@offerchat.com.
                  %p Best Regards,
                  %p The Offerchat Team
        %td
    .container.footer
      %p © 2014 Offerchat. All rights reserved.
      %p Unit 333, UP CebuInIT, Gorordo Avenue, Lahug, Cebu City, Philippines 6000

    = image_tag MIXPANEL.tracking_pixel("Opened Welcome Email", { :distinct_id => @user.email })