.login-wrapper
  .logo-large.centered

  .login-form.form
    %h2
      Sign in to Offerchat
    - flash.each do |key, value|
      %div{:style => "color: #e13d3d"}= value
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %fieldset
        %label
          Email
        .input-container
          = f.email_field :email, :type => "text", :autofocus => true
      %fieldset
        %label
          Password
        .input-container
          = f.password_field :password

      %fieldset
        %button.btn.action{:type => "submit"}
          Login
        
        = link_to "Forgot your password?", new_password_path(resource_name), :class => "go-right", :style => "margin-top: 9px"
  .signup-box
    Don't have an account yet?
    %strong
      = link_to "Create an account", signup_wizard_path('step_one'), :class => "hovered", :style => "margin-top: 9px"

