<h2>Step One</h2>
<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
<%= form_for(resource, :as => resource_name, url: wizard_path, :method => "put") do |f| %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>



  <div><%= f.submit "Continue" %></div>
<% end %>