.main-content-view.tour-content-view
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    .tour-content-inner
      .block
        %h2 Let's Get You Started
        %p
          Create your account by entering your email, name and password.

        .form.form-inline
          %fieldset{:class => (flash[:email] ? "field-error" : "")}
            %label.label-top-fix
              Email
            .input-container
              = f.email_field :email, :type => "text", :autofocus => true, :class => "large"
              .block-text-message= flash[:email][0] if flash[:email].present?

          %fieldset{:class => (flash[:name].present? ? "field-error" : "")}
            %label.label-top-fix
              Name
            .input-container
              = f.text_field :name, :class => "large", :maxlength => "50"
              .block-text-message= flash[:name][0] if flash[:name].present?

          %fieldset{:class => (flash[:password].present? ? "field-error" : "")}
            %label.label-top-fix
              Password
            .input-container
              = f.password_field :password, :class => "large", :maxlength => "50"
              .block-text-message= flash[:password][0] if flash[:password].present?

    .block.large.bordered-top
      %button.btn.action.mixpanel-user-info{:type => "submit"} Next

