.main-content-view.tour-content-view
  .tour-content-inner
    - if flash[:alert]
      %p.alert= flash[:alert]
    = devise_error_messages!
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      .block
        %h2 Let's get you started
        %p
          Create your account by entering your display name and your new password

        .form.form-inline
          %fieldset
            %label
              Full name
            .input-container
              = f.text_field :name, :autofocus => true, :class => "large"
          %fieldset
            %label
              Display name
            .input-container
              = f.text_field :display_name, :class => "large"
          %fieldset
            %label
              New password
            .input-container
              = f.password_field :password, :class => "large"
      .block.large.bordered-top
        %button.btn.action{:type => "submit"} Next
