.signup-wrap
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    .signup-header
      %h1.lite Signup for a 30 day free trial
      %p
        Get started in minutes, no credit card required
    .signup-body
      .form
        %fieldset{:class => (flash[:email] ? "field-error" : "")}
          %label.label-top-fix
            Email
            %span.inline-label-message= flash[:email][0] if flash[:email].present?
          .input-container
            = f.email_field :email, :type => "text", :autofocus => true, :class => "full"


        %fieldset{:class => (flash[:name].present? ? "field-error" : "")}
          %label.label-top-fix
            Name
            %span.inline-label-message= flash[:name][0] if flash[:name].present?
          .input-container
            = f.text_field :name, :class => "full", :maxlength => "50"


        %fieldset{:class => (flash[:password].present? ? "field-error" : "")}
          %label.label-top-fix
            Password
            %span.inline-label-message= flash[:password][0] if flash[:password].present?
          .input-container
            = f.password_field :password, :class => "full", :maxlength => "50"


    .signup-footer
      %button.btn-regular.btn.action.mixpanel-user-info{:type => "submit"} Create my account
.block.text-center
  %p
    Already using Offerchat?
    %a.hovered{ :href => "/signup_wizard/step_one" }
      Login

:javascript
  $(document).ready(function(){
    mixpanel.track("View Signup Page");
  });
