- if Rails.env.production?
  :javascript
    _gaq.push(['_trackEvent', 'Join', 'Sign Up']);

.main-content-view.tour-content-view
  .tour-content-inner

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      .block
        %h2 Let's get you started
        %p
          Create your account by entering your display name and your new password

        .form.form-inline
          %fieldset{:class => (flash[:name].present? ? "field-error" : "")}
            %label.label-top-fix
              Full name
            .input-container
              = f.text_field :name, :autofocus => true, :class => "large", :maxlength => "50"
              - if flash[:name].present?
                .block-text-message
                  = flash[:name][0]
          %fieldset{:class => (flash[:display_name].present? ? "field-error" : "")}
            %label.label-top-fix
              Display name
            .input-container
              = f.text_field :display_name, :class => "large", :maxlength => "32"
              - if flash[:display_name].present?
                .block-text-message
                  = flash[:display_name][0]

          %fieldset{:class => (flash[:password].present? ? "field-error" : "")}
            %label.label-top-fix
              New password
            .input-container
              = f.password_field :password, :class => "large", :maxlength => "50"
              - if flash[:password].present?
                .block-text-message
                  = flash[:password][0]

      .block.large.bordered-top
        %button.btn.action{:type => "submit"} Next
      .block.large
        .feature-trial.group
          .bookmark-circle
          = image_tag "calendar.png", :class => "badge-30days"
          .feature-trial-content
            %h2 We'll include a FREE 30-day Premium Trial
            %p
              Enjoy Offerchat & its premium features like unlimited agents & reports for 30 days.
              You can upgrade anytime within the trial or let your account turn back to Basic Free once the trial has ended.
            %p
              No need to re-register or pay any fees.

:javascript
  mixpanel.track("Enter User Information")
