
.login-wrapper
  .logo-large.centered
  .login-form.form
    - @user.errors.each do |key, val|
      .field-error
        = "#{key}  #{val}"
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      %fieldset
        %label
          Email
        = f.email_field :email, :autofocus => true, :type =>"text"

      %fieldset
        %button.btn.action{:type => "submit"}
          Reset password

