.notice-overlay
  .block.large
    %h2
      %i.icon.icon-gear-2
      For existing users, migrate your old Offerchat account.

    %p
      Get ready for a completely new Offerchat live chat.
    %ul.list
      %li
        1. Login to the old Offerchat dashboard.
      %li
        2. Click the "Migrate" link
      %li
        3. You will be asked to create a new password.
      %li
        4. Enjoy using the new Offerchat dashboard


    %a.btn.btn-full.success
      Migrate your account
.login-wrapper
  .logo-large.centered
  .login-form.form
    %h2
      Forgot your password?
    - @user.errors.each do |key, val|
      %div{:style => "color: #e13d3d"}
        = "#{key}  #{val}"
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      %fieldset
        %label
          Email
        = f.email_field :email, :autofocus => true, :type =>"text"

      %fieldset
        = link_to "Login", new_session_path(resource_name), :class => "go-right", :style => "margin-top: 9px"
        %button.btn.action{:type => "submit"}
          Reset password



