!!!
%html
  %head
    %title Offerchat
    = include_gon
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "https://js.stripe.com/v1/", "application"
    = csrf_meta_tags
    %meta{ :name=>"stripe-key", :content => STRIPE_PUBLIC_KEY }
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    %link{rel: "icon", type: "image/x-icon", href: "/favicon.ico"}

    - if Rails.env.production?
      = mixpanel_js
    - else
      = mixpanel_dev_js

  %body
    - if current_user.sign_in_count < 2 && !request.fullpath.includes?("#websites/new")
      .setup-tooltip#first-time-user
        %a.close#first-time-user-close ×
        %h3 Setting Up Your Account
        Please wait while we create your account. You may not receive chats just yet.
        In the mean time, get to know the
        %a{ :href => "https://www.offerchat.com/blog/surprise-treat-for-new-offerchat-users-2/", :target => "_blank" }perks of your Premium trial.

    = yield

    - if Rails.env.production?
      = user_report_js
      / = ofc_js
      = analytics_init

    - if current_user.trial_days_left == 0
      = render 'layouts/trial_over'
