!!!
%html
  %head
    %title Registration - Offerchat.com
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,300"
    = javascript_include_tag "signup_wizard"
    = csrf_meta_tags
    - if Rails.env.production?
      = analytics_init
      = mixpanel_js
    - else
      = mixpanel_dev_js

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  %body

    #wrapper
      = render :partial => "signup_wizard/header"
      .content-container
        = render :partial => "signup_wizard/sidebar"
        = yield

