!!!
%html
  %head
    %title Registration - Offerchat.com
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400,300"
    = javascript_include_tag "signup_wizard"
    = csrf_meta_tags

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  %body{ :style => "overflow: auto" }

    = render :partial => "signup_wizard/header"
    %div
      = render :partial => "signup_wizard/sidebar"
      = yield

    = render 'layouts/send_webmaster'

    = visual_web_js

    - if Rails.env.production?
      = analytics_init
      = mixpanel_js
      = perfect_audience_js
    - else
      = mixpanel_dev_js
      = pa_dev_js


