!!!
%html
  %head
    %title Offerchat :: Wizard
    = include_gon
    = stylesheet_link_tag "signup_wizard", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,300"
    = javascript_include_tag "signup_wizard"
    = csrf_meta_tags
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  %body

    #wrapper
      = render :partial => "signup_wizard/header"
      .content-container
        = render :partial => "signup_wizard/sidebar"
        = yield

